.Button {
  all: unset;
  border-radius: var(--border-radius);
  background: var(--color-twitter);
  padding: 5px 15px;
  transition: var(--transition);
  cursor: pointer;
  font-size: 1.3em;
  color: var(--color-dark-contrast);
  display: flex;
  gap: var(--spacing);
  align-items: center;

  &:hover {
    background: var(--color-twitter-dark);
  }
}