.Card {
  background: var(--color-bg-contrast);
  color: var(--color-bg);
  border-radius: var(--border-radius);
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}