.App {
  main {
    display: flex;

    > * {
      padding: var(--spacing) 25px;
      flex: 0 0 50%;
    }

    > .CardContainer {
      > .Card:not(:last-child) {
        margin: {
          bottom: var(--spacing)
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .App {
    main {
      flex-direction: column;
    }
  }
}
