.App {
  display: grid;
  grid-template-areas:
          "header header"
          "textfield cards";
  grid-template-columns: 1fr 1fr;

  > * {
    padding: var(--spacing) 25px;
  }

  > .Textfield {
    grid-area: textfield;
  }

  > .CardContainer {
    > .Card:not(:last-child) {
      margin: {
        bottom: var(--spacing)
      }
    }
  }

  header {
    width: 100%;
    grid-area: header;

    h1 {
      width: 100%;
      display: flex;
      flex-direction: column;

      small {
        font-size: 0.3em;
      }
    }

    div {
      margin: {
        top: var(--spacing);
      }

      ul {
        list-style: inside;
      }
    }
  }
}
