@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed:wght@300&display=swap');

:root {
  --color-dark: #16212c;
  --color-dark-contrast: #eee;
  --color-twitter: #1ca0f2;
  --color-twitter-dark: #06476f;
  --spacing: 15px;
  --border-radius: 5px;
  --transition: 250ms;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  min-width: 100%;
  font-family: 'Open Sans', sans-serif;
  background: var(--color-dark);
  color: var(--color-dark-contrast);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
}